:root {
  --primary-color: #4458dc;
  --text-color: #000;
  --white: #fff;
  --gray: #a1a1a1;
}

body {
  font-family: "Poppins", sans-serif !important;
}
h1 {
  font-size: 80px !important;
  font-weight: 800 !important;
  color: var(--text-color);
}
h2 {
  font-size: 50px !important;
  font-weight: 800 !important;
  color: var(--text-color);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
/* Header Code */
header nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.navbar-brand {
  font-size: 25px !important;
  font-weight: 600;
}
.nav-link {
  color: var(--text-color) !important;
  font-size: 18px;
  font-weight: 400;
}
.nav-link:hover,
.nav-link.active {
  color: var(--primary-color) !important;
}

/* Section 1 Code */
.banner-section {
  height: 80vh;
}
.banner-text span {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 800;
}

/* About Me Code  */
.aboutme-section {
}

/* Footer Code */
.footer_social i {
  font-size: 18px;
  color: var(--text-color);
}
.card-img-top {
  height: 300px;
  object-fit: cover;
}
.card-title {
  font-weight: 600;
  font-size: 22px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 65px !important;
  }
  h2 {
    font-size: 36px !important;
  }
}
